<header id="site-header" class="site-header">
    <div class="header-inner">
        <div class="header-brand">
            <a class="logo" href="{{@site.url}}">
                {{#if @site.logo}}
                    <img class="logo-image" src="{{@site.logo}}" alt="{{@site.title}}">
                {{else}}
                    <span class="logo-text">{{@site.title}}</span>
                {{/if}}
            </a>

            <div class="burger">
                <div class="burger-bar"></div>
                <div class="burger-bar"></div>
            </div>
        </div>

        <nav class="header-nav">
            {{#if @site.navigation}}
                {{navigation}}
            {{/if}}
        </nav>

        <div class="header-actions">
            <div class="social">
                <a class="social-item social-item-github"
                    href="https://github.com/bretfisher" target="_blank"
                    rel="noopener noreferrer" aria-label="GitHub">
                    {{> icons/github}}
                </a>

                <a class="social-item social-item-youtube"
                    href="https://www.youtube.com/BretFisherDockerandDevOps" target="_blank"
                    rel="noopener noreferrer" aria-label="YouTube">
                    {{> icons/youtube}}
                </a>

                <a class="social-item social-item-twitter"
                    href="{{twitter_url @site.twitter}}" target="_blank"
                    rel="noopener noreferrer" aria-label="Twitter">
                    {{> icons/twitter}}
                </a>

                <a class="social-item social-item-instagram"
                    href="https://www.instagram.com/bretfisher/" target="_blank"
                    rel="noopener noreferrer" aria-label="Instagram">
                    {{> icons/instagram}}
                </a>

                <a class="social-item social-item-linkedin"
                    href="https://www.linkedin.com/in/bretefisher" target="_blank"
                    rel="noopener noreferrer" aria-label="LinkedIn">
                    {{> icons/linkedin}}
                </a>
                <div class="dark-light">
                    <div class="icon-dark">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
                    </div>
                    <div class="icon-light">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
                    </div>
                </div>
            </div>

            {{#if @member}}
                <button class="button-text menu-item members-account" data-portal="account">Account</button>
            {{else}}
                {{!-- <button class="button-text menu-item members-login" data-portal="signin">Login</button> --}}
            {{/if}}
        </div>
    </div>
</header>